@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

body {
  padding: 0; 
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page {
  margin: 0 15px;
}

.topbar {
  background-color: #FF5A5F;
}
.topbar h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}

.title {
  font-weight: 900;
  color: #484848;
  font-size: 1.4em;
}

.ranking {
  display: flex;
  overflow-x: auto;
}

.ranking article {
  height: 230px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  opacity: 0.9;
}

.ranking article:hover {
  opacity: 1;
}

.ranking article h2, .ranking article h6 {
  padding: 0;
  margin: 0;
  color: #fff;
}
.ranking article h2 {
  font-weight: 300;
  font-size: 1.2em;
  width: 170px;
}

.card-detail {
  border: 1px solid #ccc;
  box-shadow: 1px 2px 2px #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.card-detail img {
  width: 100%;
}
.card-detail p {
  font-size: 1.20em;
  padding: 0 15px;
  font-weight: 300;
  color: #767676;
}

.button { 
  width: 100%;
  margin: 15px 0;
  padding: 5px 0;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 5px;
  background-color: #00A699;
  color: #fff;
  font-size: 1.1em;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
}