@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

body {
  padding: 0; 
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.page {
  margin: 0 15px;
}

.topbar {
  background-color: #FF5A5F;
}
.topbar h1 {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}

.title {
  font-weight: 900;
  color: #484848;
  font-size: 1.4em;
}

.ranking {
  display: flex;
  overflow-x: auto;
}

.ranking article {
  height: 230px;
  margin: 0 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-size: cover;
  opacity: 0.9;
}

.ranking article:hover {
  opacity: 1;
}

.ranking article h2, .ranking article h6 {
  padding: 0;
  margin: 0;
  color: #fff;
}
.ranking article h2 {
  font-weight: 300;
  font-size: 1.2em;
  width: 170px;
}